.porta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: chocolate;
  padding: 15px;
  
  /*css temporario*/
  width: var(--area-porta-largura);
  height: var(--area-porta-altura);  
}
.numero {
  
}